.service-item::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(90deg, #5d89ea 0%, var(--accent-color) 100%) !important;
    transition: all 0.4s ease-in-out;
}

li {
    display: list-item;
    unicode-bidi: isolate;
    line-height: 20px;
}

.service-item.active:before,
.service-item:hover:before {
    height: 76% !important;
}

@media only screen and (max-width: 1440px) {
    .service-item {
        min-height: 380px;
        padding: 30px 25px;
        border: 2px solid;
        color: black;
    }
}

.our-scrolling-ticker {
    position: relative;
    background: linear-gradient(90deg, #d8d8d8 0%, var(--accent-color) 100%) !important;
    padding: 25px 0;
    z-index: 1;
}

li {
    position: relative;
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 1.6em !important;
    color: #313338 !important;
    /* margin-bottom: 15px !important; */
}

.footer-copyright {
    border-top: 1px solid var(--dark-divider-color);
    padding: 40px 0 60px;
    margin-top: 20px !important;
}

.testimonial-item {
    min-height: 378px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-between !important;
    gap: 30px !important;
}

.hero {
    position: relative !important;
    background: url(../images/hero-bg-image.png) no-repeat !important;
    background-position: top center !important;
    background-size: auto !important;
    padding: 220px 0 100px !important;
}


@media only screen and (max-width: 767px) {
    .hero-item-image {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-item-image figure {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-item-image img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        border-radius: 50px;
    }
}


.hero {
    position: relative !important;
    background: url(../images/hero-bg-image.png) no-repeat !important;
    background-position: top center !important;
    background-size: auto !important;
    padding: 220px 0 48px !important;
}