.service-item::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: linear-gradient(90deg, #5d89ea 0%, var(--accent-color) 100%) !important;
    transition: all 0.4s ease-in-out;
}

li {
    display: list-item;
    unicode-bidi: isolate;
    line-height: 20px;
}

.service-item.active:before,
.service-item:hover:before {
    height: 82% !important;
}

@media only screen and (max-width: 1440px) {
    .service-item {
        min-height: 380px;
        padding: 30px 25px;
        border: 2px solid;
        color: black;
    }
}